{% extends 'base.html.twig' %}

{% block title %}France contractor | Candidature envoyé{% endblock %}

{% block body %}
<main>
    <div class="espace"></div>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Félicitation!</strong> Votre candidature a été transmis <a href="{{path('accueil')}}" class="alert-link">Accueil</a>.
        </div>
</main>

{% endblock %}
